* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    align-items: center;
}

/* WEB HEADER */
h1 {
    font-size: 500%;
    position:absolute;
    top:5cap;
    left: 15cap;
    z-index: 1000;
}
form {
    /* display: flex; */
    justify-content: center;
    justify-items: center;
    
    box-sizing: border-box;
    position:relative;
    border-radius: 10px;
    border-style: none;
    border-width: 3px;
    background-color: rgb(239, 239, 239); 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.2);
    place-items: center;
    width: 39cap;
    top: 2cap;
    left: 5%;
}

/* Form header */
h2 {
    margin-bottom: 2%;
}
.quote {
    font-size:150%;
    margin-top: 0%;
    margin-bottom: 2%;
}

/* Fields */
div {
    padding-top: 0.7cap;
    padding-bottom: 0.5cap;
    padding-left: 3cap;
    padding-right: 2cap;
}

.FD {
    margin-bottom: 2%;
}

.formHeader {
    text-align: center;
}

input {
    height: 5cap;
    width: 35cap;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3); */

}

/* Submit button */
button {
    margin-top: 0.5cap;
    margin-left: 17.5cap;
    margin-bottom: 3cap;

    height: 4.5cap;
    width: 11cap;

    border-width: 1px;
    border-radius: 10px;
    background-color: black;
    border-style: none;
    position:relative;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.submit {
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 2cap;
    /* margin-top: 1cap; */
}